<header class="header" id="main-header">
  <div class="hamburger"></div>
  <div class="brand">
    <a [routerLink]="['/in']" routerLinkActive="active">
      <img src="" alt="" class="brand-logo" />
    </a>
  </div>
  <nav class="navbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <div class="dropdown-container">
          <a [routerLink]="['/in']" routerLinkActive="active" class="nav-link"
            >TV</a
          >
          <div class="sublink-container">
            <a
              [routerLink]="['/in']"
              routerLinkActive="active"
              [routerLink]="['/in']"
              routerLinkActive="active"
              >Dummy</a
            >
            <a [routerLink]="['/in']" routerLinkActive="active">Dummy</a>
            <a [routerLink]="['/in']" routerLinkActive="active">Dummy</a>
            <a [routerLink]="['/in']" routerLinkActive="active">Dummy</a>
            <a [routerLink]="['/in']" routerLinkActive="active">Dummy</a>
          </div>
        </div>
      </li>
      <li class="nav-item">
        <div class="dropdown-container">
          <a [routerLink]="['/in']" routerLinkActive="active" class="nav-link"
            >Movies</a
          >
          <div class="sublink-container">
            <a [routerLink]="['/in']" routerLinkActive="active">Dummy</a>
            <a [routerLink]="['/in']" routerLinkActive="active">Dummy</a>
            <a [routerLink]="['/in']" routerLinkActive="active">Dummy</a>
            <a [routerLink]="['/in']" routerLinkActive="active">Dummy</a>
            <a [routerLink]="['/in']" routerLinkActive="active">Dummy</a>
            <a [routerLink]="['/in']" routerLinkActive="active">Dummy</a>
            <a [routerLink]="['/in']" routerLinkActive="active">Dummy</a>
          </div>
        </div>
      </li>
      <li class="nav-item">
        <div class="dropdown-container">
          <a [routerLink]="['/in']" routerLinkActive="active" class="nav-link"
            >Sports</a
          >
          <div class="sublink-container">
            <a [routerLink]="['/in']" routerLinkActive="active">Dummy</a>
            <a [routerLink]="['/in']" routerLinkActive="active">Dummy</a>
            <a [routerLink]="['/in']" routerLinkActive="active">Dummy</a>
          </div>
        </div>
      </li>
      <li class="nav-item">
        <div class="dropdown-container">
          <a [routerLink]="['/in']" routerLinkActive="active" class="nav-link"
            >Disney+</a
          >
        </div>
      </li>
      <li class="nav-item">
        <div class="dropdown-container">
          <a
            [routerLink]="['/in']"
            routerLinkActive="active"
            class="nav-link"
          ></a>
        </div>
      </li>
    </ul>
  </nav>
  <div class="search-container">
    <input type="search" name="" id="" />
    <div class="search-icon"></div>
  </div>
  <button class="btn btn-subscribe">Subscribe</button>
  <div class="user-profile">
    <div role="presentation" class="signIn">LOGIN</div>
  </div>
</header>
